# Exclude everything in root by default
/*

# Repo
!.gitignore
!.gitmodules
!docs/

# Dotfiles
!.bashrc
!.dircolors
!.gitconfig
!.inputrc
!.nanorc
!.profile
!.tmux.conf
!.Xresources
!.Xdefaults
!.XWinrc

# Extensions
!.urxvt/ext/
!.tmux/

# Scripts
!bin/
