# Exclude everything in root by default
/*

# Repo settings
!.gitignore
!.gitmodules

!.bashrc
!.dircolors
!.gitconfig
!.inputrc
!.nanorc
!.profile
!.tmux.conf
!.Xresources
!.Xdefaults
!.XWinrc

!bin/
!.urxvt/ext/
!.tmux/
